#game-canvas {
  margin-top: 25px;
  width: 800px;
  height: 600px;
  background-color: #05A305;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.container-fluid {
  text-align: center;
}