<!DOCTYPE html>
<html>

  <head>
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <form action="/login" method="post">
      <label>Username: <input type="text" name="username" id="login_username"></label>
      <label>Password: <input type="password" name="password" id="login_password"></label>
      <button type="submit" name="submit" id="login_submit">Submit</button>
    </form>
  </body>

</html>
